/* ==========================================
general body
========================================== */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url('../images/bgnoise_lg_@2X.png');
}

.clear {
    clear: both;
}

/* 
=========================================
HEADER / NAVBAR
========================================= */

header {
    height: 70px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
}

.head-container {
    /* width: 960px; */
    width: 960px;
    max-width: 100%;
    margin: auto;
} 

.navbar a {
  float: right;
  text-align: center;
  padding: 27px;
  text-decoration: none;
  color: #777;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a:hover {
    color: #fff;
    background-color: #777;
    transition: all, 0.3s;
}

.logo {
    float: left;
    background-color: #4aaea5;
    font-size: 26px;
    letter-spacing: 1.4px;
    font-weight: 600;
    padding: 22px;
}

.logo a {
    text-decoration: none;
    color: #fff;
}

/* =====================================
MAIN 
===================================== */

.container {
    /* width: 960px; */
    width: 960px;
    max-width: 100%;
    margin: auto;
    min-height: 100%;
    margin-bottom: -50px;
}

.hero {
    /* margin: 20px auto; */
    color: #777;
    background-color: #fff;
}

.content {
    border: 1px solid #ddd;
    /* box shadow */
    box-shadow: 0px 6px 45px 9px rgba(133,133,140,1);
    padding: 20px;
    min-height: 100%;
    /* margin-bottom: -50px; */
}

.lower {
    width: 33%;
}

.bottom-content {
    border: 1px solid #ddd;
    background-color: #fff;
    /* box shadow */  
    box-shadow: 0px 6px 45px 9px rgba(133,133,140,1);
    padding: 20px;
    min-height: 100%;
    margin-top: 10px;
}

.index-content a {
    margin: 5px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 1.2px;
    padding: 5px 0 10px 0;
    color: #4aaea5;
}

/* =========================================
INDEX PAGE 
========================================= */

.index-img {
    float: left;
    padding-right: 20px;
    padding-top: 20px;
    max-width: 100%;
}

.index-content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.5;
    padding-top: 16px;
    font-weight: 100;
}

.em-footer {
    font-style: italic;
}

/* ===========================================
CONTACT PAGE 
=========================================== */

input {
    height: 30px;
}

input,
textarea {
    width: 100%;
    margin: 5px 0;
    padding: 3px;
    font-size: 90%;
    color: #777;
}

button {
    padding: 10px 20px;
    background-color: #4aaea5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
}

button:hover {
    background-color: #777;
    transition: all, 0.3s;
}

/* ==========================================
PORTFOLIO PAGE
========================================== */

.image {
    position: relative;
    display: inline-block;
    padding: 25px 25px 25px 40px;
}

.caption {
    height: 30px;
    width: 230px;
    background-color: #4aaea5;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    position: absolute;
    bottom: 50px;
    left: 45px;
}

.caption p {
    padding-bottom: 10px;
}

.image .caption p:hover {
    color: #777;
    transition: all, 0.3s;
}

/* 
===========================================
FOOTER 
=========================================== */

/* sticky simple footer */

/* .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: #fff;
    height: 45px;
    padding-bottom: 65px;
    border-top: solid 2px black;
} */


.footer {
    background-color: #777;
    border-top: 4px solid #4aaea5;
    color: #fff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    height: 50px;
    margin-top: 70px;
  }





/* ============================================
MEDIA QUERIES
============================================ */

@media screen and (max-width: 980px) {
    .head-container {
        /* width: 960px; */
        width: 895px;
        max-width: 100%;
        margin: auto;
    } 
    .hero {
        width: 60%;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    .lower {
        width: 33%;
        float: right;
    }
    .bottom-content {
        margin: 0 20px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 650px;
        max-width: 100%;
    }
    .head-container {
        /* width: 960px; */
        width: 650px;
        max-width: 100%;
        margin: auto;
    } 
    .hero {
        margin: 0 auto;
        width: 100%;
    }
    .lower {
        width: 100%;
    }
    .bottom-content {
        margin: 10px auto;
    }

}

@media screen and (max-width: 640px) {
    
    .logo {
        text-align: center;
        width: 100%;
    }
    .navbar a {
        text-align: center;
        background-color: #fff;
        width: 33.33%;
        margin-bottom: 10px;
    }
    .container {
        width: 520px;
        max-width: 100%;
    }
    .index-img {
        float: none;
    }
    .hero {
        margin: 0 auto;
        width: 100%;
    }
    .bottom-content {
        margin: 10px auto;
    }
}

